# Assignment 3
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. All questions are worth the same number of points except question 1 which is worth 17% of the assignment grade.

**Note**: Questions 2-13 rely on your question 1 answer.

In [1]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
#import warnings
#warnings.filterwarnings('ignore')

### Question 1
Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **Energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]`

Convert `Energy Supply` to gigajoules (**Note: there are 1,000,000 gigajoules in a petajoule**). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`.

Next, load the GDP data from the file `assets/world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".*

In [5]:
import pandas as pd
import numpy as np

def reduce_energy_country_name(name):
        import re
        name = re.sub(r"\d+", "", name)
        newname = name
        if name == "Republic of Korea": newname = "South Korea"
        if name == "United States of America": newname = "United States"
        if name == "United Kingdom of Great Britain and Northern Ireland": newname = "United Kingdom"
        if name == "China, Hong Kong Special Administrative Region": newname = "Hong Kong"
        if name.find('(') != -1: newname = name[:name.find('(') - 1]
        return newname

def answer_one():
    

    # Energy
    Energy = pd.read_excel('assests/Energy Indicators.xls', header=16).iloc[1:228,2:]
    Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    Energy[Energy=='...'] = np.nan
    Energy['Energy Supply'] *= 1000000
    Energy['Country'] = Energy['Country'].apply(reduce_energy_country_name)

    # GDP
    GDP = pd.read_csv('assests/world_bank.csv', header=4)
    GDP[GDP['Country Name'] == 'Korea, Rep.'] = GDP[GDP['Country Name'] == 'Korea, Rep.'].replace('Korea, Rep.', 'South Korea')
    GDP[GDP['Country Name'] == 'Iran, Islamic Rep.'] = GDP[GDP['Country Name'] == 'Iran, Islamic Rep.'].replace('Iran, Islamic Rep.', 'Iran')
    GDP[GDP['Country Name'] == 'Hong Kong SAR, China'] = GDP[GDP['Country Name'] == 'Hong Kong SAR, China'].replace('Hong Kong SAR, China', 'Hong Kong')
    # Only last 10 years
    rows = ['Country', 'Country Code', 'Indicator Name', 'Indicator Code',
           '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
           '2014', '2015']

    # ScimEn
    ScimEn = pd.read_excel('assests/scimagojr-3.xlsx')
    GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
    tmp = pd.merge(ScimEn[:15], GDP[rows], left_on = 'Country', right_on = 'Country', how='inner')
    newcols = ['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
               'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita',
               '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    return pd.merge(tmp, Energy, on = 'Country', how='left')[newcols].set_index('Country')

In [6]:
Energy = pd.read_excel('assests/Energy Indicators.xls', header=16).iloc[1:228,2:]
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy[Energy=='...'] = np.nan
Energy['Energy Supply'] *= 1000000
Energy['Country'] = Energy['Country'].apply(reduce_energy_country_name)
Energy[Energy['Country'] > 'Ch']

,Country,Energy Supply,Energy Supply per Capita,% Renewable
41,Chad,77000000,6,0
42,Chile,1613000000,92,28.0066
43,China,127191000000,93,19.7549
44,Hong Kong,585000000,82,0
45,"China, Macao Special Administrative Region",47000000,83,0
...,...,...,...,...
223,Viet Nam,2554000000,28,45.3215
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344000000,13,0
226,Zambia,400000000,26,99.7147
227,Zimbabwe,480000000,32,52.5361

In [7]:
import re
name = '1212Iran (Islamic Republic of)1221'
re.sub(r"\d+", "", name)

'Iran (Islamic Republic of)'

In [8]:
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"

assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

In [ ]:
# Cell for autograder.

### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [9]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [10]:
def answer_two():
    def reduce_energy_country_name(name):
        import re
        name = re.sub(r"\d+", "", name)
        newname = name
        if name == "Republic of Korea": newname = "South Korea"
        if name == "United States of America": newname = "United States"
        if name == "United Kingdom of Great Britain and Northern Ireland": newname = "United Kingdom"
        if name == "China, Hong Kong Special Administrative Region": newname = "Hong Kong"
        if name.find('(') != -1: newname = name[:name.find('(') - 1]
        return newname
    

    # Energy
    Energy = pd.read_excel('assests/Energy Indicators.xls', header=16).iloc[1:228,2:]
    Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    Energy[Energy=='...'] = np.nan
    Energy['Energy Supply'] *= 1000000
    Energy['Country'] = Energy['Country'].apply(reduce_energy_country_name)
    #print(len(Energy))

    # GDP
    GDP = pd.read_csv('assests/world_bank.csv', header=4)
    GDP[GDP['Country Name'] == 'Korea, Rep.'] = GDP[GDP['Country Name'] == 'Korea, Rep.'].replace('Korea, Rep.', 'South Korea')
    GDP[GDP['Country Name'] == 'Iran, Islamic Rep.'] = GDP[GDP['Country Name'] == 'Iran, Islamic Rep.'].replace('Iran, Islamic Rep.', 'Iran')
    GDP[GDP['Country Name'] == 'Hong Kong SAR, China'] = GDP[GDP['Country Name'] == 'Hong Kong SAR, China'].replace('Hong Kong SAR, China', 'Hong Kong')
    # Only last 10 years
    rows = ['Country', 'Country Code', 'Indicator Name', 'Indicator Code',
           '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
           '2014', '2015']
    #print(len(GDP))


    # ScimEn
    ScimEn = pd.read_excel('assests/scimagojr-3.xlsx')
    #print(len(ScimEn))


    GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
    tmp = pd.merge(ScimEn, GDP[rows], left_on = 'Country', right_on = 'Country', how='inner')
    newcols = ['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
               'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita',
               '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    return len(pd.merge(tmp, Energy, on = 'Country', how='outer')[newcols].set_index('Country')) - len(answer_one())
answer_two()

216

In [11]:
assert type(answer_two()) == int, "Q2: You should return an int number!"

### Question 3
What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [12]:
def answer_three():
    df = answer_one()
    df['avgGDP'] = df.iloc[:, 10:].mean(axis=1)
    df = df.sort_values(by='avgGDP', ascending=False)
    return df['avgGDP']
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

In [13]:
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

### Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [14]:
def answer_four():
    pass
df = answer_one()
df
#df.iloc[5]['2015'] - df.iloc[5]['2006']

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [296]:
# Cell for autograder.

### Question 5
What is the mean energy supply per capita?

*This function should return a single number.*

In [15]:
def answer_five():
    return answer_one()['Energy Supply per Capita'].mean()

In [16]:
# Cell for autograder.

### Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [17]:
def answer_six():
    df = answer_one()
    maxren = df['% Renewable'].max()
    return (df[df['% Renewable'] == maxren].index.values[0], maxren)

In [18]:
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"

assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [21]:
def answer_seven():
    df = answer_one()
    df['ratio'] = df['Self-citations'] / df['Citations']
    maxratio = df['ratio'].max()
    maxcountry = df[df['ratio'] == maxratio].index.values[0]
    return (maxcountry, maxratio)

In [22]:
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"

assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

### Question 8

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return the name of the country*

In [23]:
def answer_eight():
    df = answer_one()
    df['population'] = df['Energy Supply'] / df['Energy Supply per Capita']
    df = df.sort_values(by='population', ascending=False)
    return df.index[2]

In [24]:
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [25]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    a = Top15[['Citable docs per Capita', 'Energy Supply per Capita']].dropna()
    a['Citable docs per Capita'] = pd.to_numeric(a['Citable docs per Capita'])
    a['Energy Supply per Capita'] = pd.to_numeric(a['Energy Supply per Capita'])
    return a.corr().iloc[0,1]

In [26]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [27]:
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

### Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [31]:
#

In [32]:
def answer_ten():
    df = answer_one()
    df['HighRenew'] = 0
    med = df['% Renewable'].median()
    df['HighRenew'] = df.where(df['% Renewable'] < med, 1)
    return df['HighRenew']

df = answer_one()
df['HighRenew'] = 0
med = df['% Renewable'].median()
print(med)
for i in range(len(df)):
    print(df.iloc[i,9])
    if df.iloc[i,9] >= med:
        df.iloc[i,-1] = 1
df

17.02028
19.75491
11.57098
10.23282
10.60047
17.28868
61.94543
17.90153
14.96908
17.02028
2.279353
33.66723
37.96859
5.707721
11.81081
69.64803

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,HighRenew
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549,...,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.571,...,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328,...,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005,...,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887,...,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,1
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454,...,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015,...,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.9691,...,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.0203,...,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,2.27935,...,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672,...,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,1
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686,...,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,1
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119,5.70772,...,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,0
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108,...,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.648,...,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1

In [33]:
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

### Question 11
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [34]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

def answer_eleven():
    df = answer_one()
    df['Continent'] = pd.Series(df.index.values, index=df.index.values).map(ContinentDict)
    df['PopEst'] = pd.to_numeric(df['Energy Supply'] / df['Energy Supply per Capita'])
    newdf = df.groupby("Continent").agg({"PopEst":(len, sum, np.mean, np.std)})
    newdf = newdf['PopEst']
    return newdf.rename(columns={'len':'size'})

In [35]:
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"

assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"

assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

### Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [36]:
def answer_twelve():
    pass

Continent      % Renewable
Asia           (2.212, 15.753]     4.0
               (15.753, 29.227]    1.0
Australia      (2.212, 15.753]     1.0
Europe         (2.212, 15.753]     1.0
               (15.753, 29.227]    3.0
               (29.227, 42.701]    2.0
North America  (2.212, 15.753]     1.0
               (56.174, 69.648]    1.0
South America  (56.174, 69.648]    1.0
Name: Country, dtype: float64

In [37]:
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"

assert len(answer_twelve()) == 9, "Q12: Wrong result numbers!"

AssertionError: Q12: You should return a Series!

### Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12,345,678.90

*This function should return a series `PopEst` whose index is the country name and whose values are the population estimate string*

In [ ]:
def answer_thirteen():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"

assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")